{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
</head>
<body>
    {% include "networkviewer/tabs.html" %}
    <div style="background-color: #0b4e86; padding: 40px 10px; color: white;">
    <h1>About Us</h1>
    <h2>This is a website prototype for a Chemical Source Database Finder. 
        It aims to find the associations and connections between certain categories across studies. 
        The graphs show the item/person searched for, and for the category chosen, all the times the items/people in the category appeared within a study with the item/person searched for.
        <br><br>
        For example, a user could search for a specific chemical and find the sources that funded the studies that include the chemical searched.   
        <br>    
        Or a user could search for a specific funding source, choosing the chemicals category, and find all the chemicals that source funded studies to study.
    </h2>
    </div>
</body>
</html>