{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
</head>
<body>
    {% include "networkviewer/tabs.html" %}
    <div style="background-color: #0b4e86; padding: 40px 10px; color: white;">
    <h1>Contact Us</h1>
    <h2>
        Currently, there is no email to contact us, as this project is a prototype for personal use. It is in very early stages of development. 
        Down the line there will be an email to contact us, and we will be happy to answer any questions or concerns. 
    </h2>
    </div>
</body>
</html>