{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Data</title>
</head>
<body>
    {% include "networkviewer/tabs.html" %}
    <div style="background-color: #0b4e86; padding: 40px 10px; color: white;">
    <h1>Data</h1>
    <h2>
        The research studies and data shown on this website was obtained from the American Chemical Society (ACS) Publications database.
        The studies used were from the Environmental Science and Technology journal within ACS Publications.
        <br><br>
        So far, the studies included in this project are the studies from 2024.
        <br>
        There are plans to expand the database to include studies from more years in the future, and to allow users to pick specific years for their searches.
    </h2>
    </div>
</body>
</html>